
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#gameContainer{
	width: 800px;
	height: 400px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	animation: scrollBackground 10s linear infinite; 
	background-image: url("images/bg.png");      
	background-size: auto 100%;
	background-repeat: repeat-x;
	border: 1px solid black;
		
}


.game {
	width: 800px;
	height: 400px;
	border: 1px solid black;
	margin: auto;
	
}

@keyframes bgScroll {
        0% {
    background-position: -300px 0;
  }
  100% {
    background-position: calc(100% - 300px) 0; 
  
}
}

#runner {
	width: 45px;
	height: 45px;
	position: relative;
	top: 330px;
	left: 20px;

	background-image: url("images/runner.png");
	background-size: 45px 45px;

}

.jump{
	animation: jump 0.5s linear;
}
@keyframes jump{
	0%{
		top: 330px;
	}
	30%{
		top: 270px;
	}
	50%{
		top: 260px;
	}
	80%{
		top: 270px;
	}
	100%{
		top: 330px;
	}
}

#obstacle {
	width: 30px;
	height: 40px;
	position: relative;
	top: 290px;
	left: 880px;

	background-image: url("images/obstacle.png");
	background-size: 30px 40px;

	
}

@keyframes block{
	0%{
		left:880px;
	}
	100% {
		left: 0px ;
	}
}

#score{
	position: relative;
	left: 660px;
	top: 10px;
	font-family: monospace;
	font-size: 16px;
}

#ground {
	width: 1200px;
	height: 7px;
	position: relative;
	top: 375px;
	left: 0px;

	background-color: gray;

	animation: ground 2s infinite linear;
}

@keyframes ground{
	0%{
		left:0px;
	}
	100% {
		left: 0px ;
	}
}


.modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    .modal-content {
      background-color: #fff;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
    }

    #restartButton, #startButton{
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #startButton{
    	margin-top: 2rem;
    }